<?xml version="1.0"?>

<!-- see http://www.phpunit.de/wiki/Documentation -->
<phpunit bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="teste">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../module</directory>
            <exclude>
                <directory>../module/DataTables/language</directory>
                <directory>../module/DataTables/config</directory>
                <file>../module/DataTables/Module.php</file>
                <file>../module/DataTables/template_map.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="reports/coverage" highLowerBound="80"/>
        <log type="testdox-text" target="reports/testdox/executed.txt"/>
    </logging>
</phpunit>
